.sideFriendBar {
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
    display: grid;
    grid-template-areas:
  'a a a'
  'f f f';
    /*grid-template-rows: 2fr 2fr 2fr;*/
    /*grid-template-columns: 2fr 10fr;*/
}
.sideFriendBar span{
    display: inline-block;
}
.friendAva{
    width: 30px;
    border-radius: 25px;
}
.friendName{
    font-size: 10px;
}
.friendItem{
    /*grid-area: f;*/
    /*display: flex;*/
}
.sideBarTitle{
    grid-area: a;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
}