.item{
    margin-left: 10px;
    color: seagreen;
    font-weight: bold;
    display: inline-block;
}
.ava{
    height: 40px;
    width: 40px;
    border-radius: 15px;
}
.post{
    border: 1px solid white;
    margin: 15px;
    border-radius: 15px;
    width: 300px;
}